/* Body */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* Content */
weather-app {
    display: block;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #888888;
}

weather-app::part(title) {
    font-size: 60px;
    color: #636262;
}

weather-app::part(description) {
    font-size: 20px;
    letter-spacing: 0.4px;
}

weather-app::part(input) {
    width: 90%;
    height: 25px;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #cccccc49;
    border: none;
    box-shadow: 1px 1px 2px #888888;
}

weather-app::part(button) {
    background-color: #4caf4fc2;
    font-size: 15px;
    color: white;
    border: none;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 13px;
    cursor: pointer;
}

weather-app::part(button):hover {
    background-color: #45a049;
}

/* Footer */
footer {
    margin: 50px;
    color: #888888;
}

/* Responsive Mobile */

@media (max-width: 425px) {
    
    /* Content */
    weather-app {
        width: 85%;
    }

    weather-app::part(title) {
        font-size: 35px;
    }

    weather-app::part(input) {
        height: 13px;
    }

    weather-app::part(button) {
        padding-block: 10px;
        border-radius: 10px;
        font-size: 12px;
    }

    weather-app::part(description) {
        font-size: 15px;
    }

    /* Footer */
    footer {
        font-size: 13px;
    }
}